.searchImage {
    max-height: 50px;
    max-width: 50px;
    float: left;
}
.randomImage {
    max-height: 50px;
    max-width: 50px;
    float: left;
    padding-right: 10px;
}
.catalogImage {
    max-height: 100px;
    max-width: 100px;
    float: left;
    padding-right: 10px;
}
.articleImage {
    float: left;
    padding-right: 10px;
}
.searchForm {
    height: 200px;
    width: 100%;
    vertical-align: top;
}
.footer {
    height: 200px;
    width: 100%;
}
.sidebar {
    width: 200px;
    text-align: justify;
    float: left;
    text-indent: 20px;
}
.col-xs-8 {
    width: calc(100% - 200px);
}

.col-xs-4{
    clear: both;
    float: none;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}
.col-md-6 {
    clear: both;
    float: none;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}
.col-md-4 {
    float: right;
    width: 200px;
}
.content{
    width: calc(100% - 200px);
    float: left;
}
.searchResult {
    position: absolute;
    z-index: 9999;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    background: #fff;
    border: 1px #F5F5F5 solid;
    padding: 5px;
    border-radius: 5px;
}
.well {
    height: 130px;
    text-align: justify;
    text-indent: 20px;
}

#chatFrame{

    position: fixed;
    bottom: -270px;
    right: 150px;

    width: 200px;
    height: 300px;
    border: 1px solid #ccc;

    padding: 5px;
    font-weight : bold;
    text-align : center;
    color: black;
    font-size: 15px;

    background: #f7f7f7;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 3px 3px 0px #000;

    transition: all 700ms;
}

#chatFrame.visible{
    bottom: 0px;
}

#chatButton{
    width: 200px;
    height: 30px;
    color: #f7f7f7;
    background: #3CAD4D;
    border: 1px solid #ccc;
}

@keyframes newMessage{
    from {
        background: #3CAD4D;
    } 
    to {
        background: #43C156;
      }
}

@-webkit-keyframes newMessage{
    from {
        background: #3CAD4D;
    }
    to {
        background: #43C156;
    }
}
.progress {
    animation: newMessage 2000ms infinite alternate;
    -webkit-animation: newMessage 2000ms infinite alternate;
}

.mainChat form {
    background: #000;
    padding: 3px;
    width: 100%;
}
.mainChat form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    color: #0f0f0f;
}
.mainChat form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
.mainChat #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mainChat #messages li {
    padding: 5px 10px;
}
.mainChat #messages li:nth-child(odd) {
    background: #eee;
}